@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'open sans, light 300, sans seriff', sans-serif;
    margin: 55px 10px;
}

#search-form button {
    text-transform: uppercase;
    background-color: #A7D160;
    border: 1px solid #A7D160;
    border-radius: 8px 8px 8px 8px;
    padding: 8px 16px;
    color: darkolivegreen;
    font-family: 'open sans, light 300, sans seriff', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#search-form input {
    border: 1px solid gray;
    font-family: 'open sans, light 300, sans seriff', sans-serif;
    padding: 8px;
    border-radius: 8px 8px 8px 8px;
    width: 250px;
    font-size: 16px;
}

.country-info-box {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    box-shadow: .35rem .8rem 2rem 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin: 75px 0;
}

.country-info-box h2 {
    font-size: 36px;
    padding: 0 0 12px 0;
}

.country-info-box p {
    padding: 8px 0;
}

.flag {
    width: 45px;
    margin-right: 20px;
}

.flag-tittle {
    border-bottom: 1px solid;
    display: flex;
    align-items: baseline;
    margin: 0 0 10px 0;
}


.error-message {
    padding: 20px 0;
    color: #a01515;
    border-radius: 10px;
}

